:root{
    --main-color: #6446a3;
    --h2: #334962;
    --h2-margin: 15px;
    --p: #64636399;
    --p-max-width : 528px;
}

body{
    font-family: 'Bai Jamjuree', sans-serif;
}

h2{
    font-weight: 600 !important;
}

.header-area{
    height: 60vh;
    background-image: url(../images/bg-header-desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.header-area .C{
    padding-top: 93px;
    width: fit-content;
    margin: auto;
    margin-bottom: 65px;
}

.header-area .text-content h2{
    color: var(--h2);
    margin-bottom: var(--h2-margin);
}
.header-area .text-content p{
    margin: auto;
    max-width: 528px;
    color: var(--p);
}

@media (max-width : 375px) {
    .header-area .text-content h2{
        max-width: 100%;
    }
}

/*Start features*/
.features{
    text-align: center;
    margin-bottom: 200px;
}
.features h2{
    color: var(--h2);
    margin-bottom: var(--h2-margin);
}
.features p{
    color: var(--p);
    max-width: var(--p-max-width);
    margin: auto;
    margin-bottom: 70px;
}

.features img{
    margin-left: -334px;

}

.features .feats{
    display: flex;
    flex-direction: column;
    width: 400px;
    float: right;
    overflow: hidden;

}

.features .feats .feat{
    text-align: left;
}

@media (max-width : 375px) {
    .features{
        margin-top: 100px;
        margin-bottom: 100px;
    }
    .features img{
        margin: 0;
        width: 222px
    }
    .features .feats{
        width: 302px;
        float: unset;
        overflow: unset;
        margin-top: 40px;
        text-align: center;
    }
    .features .feats .feat{
        text-align: center;
    }
    .features .feats .feat h2{
        font-size: 22px;
    }
}

@media (max-width : 576px) {
    .features{
        margin-top: 100px;
        margin-bottom: 100px;
    }
    .features img{
        margin: 0;
        width: 222px
    }
    .features .feats{
        width: 302px;
        float: unset;
        overflow: unset;
        text-align: center;
        margin: auto;
        margin-top: 50px;
    }
    .features .feats .feat{
        text-align: center;
    }
    .features .feats .feat h2{
        font-size: 22px;
    }
}

/*End features*/


/*Start One-Feauture-Div*/
.one-feat-div{
    height: 800px;
}
.one-feat-div .feat-img{
    position: relative;
    width: 904px;
    height: 630px;
    margin: auto;
    margin-top: 42px;
}
.one-feat-div .feat-img img{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width : 375px) {
    .one-feat-div{
        text-align: center;
        height: fit-content;
        margin-bottom: 100px;
    }
    .one-feat-div .feat-img{
        width: 100%;
        height: 300px;
    }
    .one-feat-div .feat-img img{
        width: 100%;
    }
}
@media (max-width : 576px) {
    .one-feat-div{
        text-align: center;
        height: fit-content;
        margin-bottom: 100px;
    }
    .one-feat-div .feat-img{
        width: 100%;
        height: 300px;
    }
    .one-feat-div .feat-img img{
        width: 100%;
    }
}
/*End One-Feauture-Div*/

/* Start Supercharge */
.supercharge{
    height: 600px;
    margin-bottom: 200px;
}
.supercharge p{
    margin-bottom: 90px;
}
.supercharge .three-boxes{
    display: flex;
    justify-content: space-around;
}
.supercharge .three-boxes .box{
    width: calc(100% / 3 - 5px);
    height: 220px;
    text-align: center;
}
.supercharge .box img{
    margin-bottom: 40px;
}
.supercharge .box h2{
    font-size: 23px;
}

.supercharge .logos{
    display: flex;
    justify-content: space-between; 
    margin-top: 110px; 
}
.supercharge .logos img{
    width: 136px;
    height: 38px;
}

@media (max-width : 375px) {
    .supercharge{
        text-align: center;
        height: fit-content;
        margin-bottom: 150px;
    }
    .supercharge .three-boxes{
        flex-flow: column;
    }
    .supercharge .three-boxes .box{
        width: 100%;
        text-align: center;
    }
    .supercharge .logos{
        flex-flow: column;
        margin-top: 60px;
    }
    .supercharge .logos img{
        margin: auto;
        margin-bottom: 60px;
    }
    .supercharge .logos img:last-of-type{
        margin-bottom: 0;
    }
}
@media (max-width : 576px) {
    .supercharge{
        text-align: center;
        height: fit-content;
        margin-bottom: 150px;
    }
    .supercharge .three-boxes{
        flex-flow: column;
    }
    .supercharge .three-boxes .box{
        width: 100%;
        text-align: center;
    }
    .supercharge .logos{
        flex-flow: column;
        margin-top: 60px;
    }
    .supercharge .logos img{
        margin: auto;
        margin-bottom: 60px;
    }
    .supercharge .logos img:last-of-type{
        margin-bottom: 0;
    }
}
/* End Supercharge */   

/*Start Download*/
.download{
    height: 300px;
}
.download h2{
    margin-bottom: 30px;
}
.download p{
    max-width: 632px;
    margin-bottom: 20px;
}

@media (max-width : 375px){
    .download{
        text-align: center;
        height: fit-content;
        margin-bottom: 100px
    }
}
@media (max-width : 576px){
    .download{
        text-align: center;
        height: fit-content;
        margin-bottom: 100px
    }
}
/*End Download*/

/*Start Footer*/
footer{
    height: 160px;
    background-color: #EEE;
}
footer .content{
    display: flex;
    height: 160px;
    align-items: center;
    justify-content: space-between;
}
footer .logo{
    height: 80px;
}
footer .logo img{
    width: 100%;
    height: 100%;
}

footer .links{
    width: fit-content;
    height: 100px;
    padding-top: 30px;
}

footer .links span{
    color: rgb(124 124 124);
    width: 160px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}
footer .social-media{
    width: 125px;
    display: flex;
    justify-content: space-between;
}
footer .social-media img{
    cursor: pointer;
}

@media (max-width : 375px){
    body{
        overflow-x:hidden;
    }
    footer{
        height: fit-content;
    }
    footer .content{
        flex-flow: column;
        height: fit-content;
        padding: 40px 0px;
    }
    footer .content .links {
        height: fit-content;
        margin-bottom: 15px;
    }
    footer .content .links span{
        color: rgb(124 124 124);
        width: 160px;
        cursor: pointer;
        display: block;
        margin: auto;
        text-align: center;
        margin-bottom: 16px;
    }
}
@media (max-width : 576px){
    footer{
        height: fit-content;
    }
    footer .content{
        flex-flow: column;
        height: fit-content;
        padding: 40px 0px;
    }
    footer .content .links {
        height: fit-content;
        margin-bottom: 15px;
    }
    footer .content .links span{
        color: rgb(124 124 124);
        width: 160px;
        cursor: pointer;
        display: block;
        margin: auto;
        text-align: center;
        margin-bottom: 16px;
    }
}
/*End Footer*/


/* my own framework*/
.my-h2{
    margin: auto;
    color: var(--h2);
    margin-bottom: var(--h2-margin);
    max-width: fit-content;
}

.my-p{
    color: var(--p);
    max-width: var(--p-max-width);
    margin: auto;
    text-align: center;
}

div.two-buttons{
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 400px;
    margin: auto;
}


div.two-buttons span{
    padding: 11px 27px;
    border-radius: 22px;
    color: #FFF;
    box-shadow: 1px 1px 1px #81818199;
    cursor: pointer;
    font-size: 15px;
    transition: background-color .3s ease-in-out;
}

@media (max-width : 375px) {
    div.two-buttons{
    flex-flow: column;
    margin-top: 10px;
    }
    div.two-buttons span:first-of-type{
        margin-bottom: 10px;
    }
}

@media (max-width : 576px) {
    div.two-buttons{
    flex-flow: column;
    margin-top: 10px;
    }
}

div.two-buttons span:first-of-type{
    background-color: hsl(171, 66%, 44%);
}
div.two-buttons span:first-of-type:hover{
    background-color: hsl(171, 66%, 70%);
}
div.two-buttons span:nth-of-type(2){
    background-color: hsl(233, 100%, 69%);
}
div.two-buttons span:nth-of-type(2):hover{
    background-color: hsl(233, 100%, 85%);
}

/*Media Queries*/
@media (min-width: 1300px) {
    .container {
        max-width: 1256px !important;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }

}
@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 375) {
    .container {
        max-width: 340px;
    }
}





